```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Dependencies
venv/
.venv/
node_modules/

# Logs and temp files
*.log
*.tmp

# Environment
.env
.env.local
*.env.*

# Editors
.vscode/
.idea/

# Coverage
.coverage
coverage/
htmlcov/

# MyPy
.mypy_cache/

# PyTest
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/
```